.detail-container {
    background-image: url('https://i.pinimg.com/originals/aa/25/a1/aa25a1bd28c0cb0fcc844afdce6bf27d.gif');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    text-align: center;
    font-weight: 600;
    opacity: 0.6;
    margin-top: 20px;
  }

  .detail-image {
    width: 250px; /* La imagen se ajustará al ancho máximo del contenedor padre */
    height: 150px; /* La altura se ajustará automáticamente para mantener la proporción */
  }
  
  .detail-container .title {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'VT323', monospace;
   
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 48px;
    margin-top: 20px;
    border-radius: 20px;
  }
  
  .detail-container .detail-info {
    background-color: rgb(29, 32, 26);;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
  }
  
  .detail-container .detail-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .detail-container .detail-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .detail-container .detail-info p {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  
  .detail-container .loading {
    font-family: 'VT323', monospace;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
  }